.icon {
  vertical-align: text-bottom;
  height: 20px;
}

.button {
  border-radius: 3px;
  padding: 5px 10px;
  height: 30px;
  font-weight: bold;
  color: white;
}

.button:hover {
  cursor: pointer;
}

.refresh {
  border: 2px solid #4285F4;
  background-color: #4285F4;
}

.refresh:hover {
  background-color: white;
  color:black;
}

.add {
  border: 2px solid #0F9D58;
  background-color: #0F9D58;
}

.add:hover {
  background-color: white;
  color:black;
}

.main-container {
  width: 85%;
  float: right;
  margin-top: 50px;
}

.main-content {
  margin: 10px;
}
