.file-container {
  position: relative;
  height: 70px;
  width: 50px;
  display: flex;
  padding: 10px 10px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.file-img {
  position: absolute;
  top: 4px;
  height: 30px;
  width: 25px;
}

.file-image-container {
  height: 30px;
}

.file-name {
  height: 40px;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Not doing its thing */
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}