.header-container {
    height: 45px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid gray;
    position: fixed;
    z-index: 2;
}

.logo {
    height: 100%;
    left: 0;
    top: 0;
}