.sidebar {
  margin: 0;
  padding: 5px;
  width: 15%;
  color: var(--text);
  background-color: var(--sub-bg);
  position: fixed;
  height: 100%;
  overflow: hidden;
  margin-top: 45px;
}

.content {
  height: 100%;
}

.sidebar-user-container {
  margin-top: 70px;
}

.sidebar-user {
  padding: 4px 4px;
}

.sidebar-user:hover {
  outline: 2px solid var(--subtle2);
  cursor: pointer;
}

.sidebar-picture {
  height: 20px;
  vertical-align: text-bottom;
  border-radius: 10px;
  margin-right: 5px;
}