.sidebar {
  margin: 0;
  padding: 0;
  width: 15%;
  color: var(--text);
  background-color: var(--sub-bg);
  position: fixed;
  height: 100%;
  overflow: hidden;
  margin-top: 45px;
}

.content {
  height: 100%;
}