.user {
  width: 100%;
  margin: 15px 0px;
}

.user-banner {
  border-radius: 5px;
  border: 2px solid #929292;
  position: sticky;
  top: 50px;
  height: 40px;
  width: 100%;
  margin: 5px 0px;
  background-color: white;
  text-align: left;
  z-index: 1;
}

.user-banner:hover {
  cursor: pointer;
  border-color: #4285F4;
}

.profile-picture {
  height: 20px;
  vertical-align: text-bottom;
  border-radius: 10px;
}

.profile-name {
  font-weight: bold;
}

.profile-email {
  font-style: italic;
  color: gray;
}

.react-contextmenu-wrapper {
  display: inline
}

.context-menu {
  float: right;
  margin: 0px 6px;
  background-color: #ffffff;
  border-radius: .25rem;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .2);
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .2);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .2);
  color: #303030;
  font-size: 16px;
  min-width: 190px;
  text-align: left;
  transition: opacity 250ms ease;
  z-index: 2;
}

.menu-item {
  padding: 5px 5px;
  border: 1px solid #ffffff;
}

.menu-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  border: 1px solid black;
}

.sub-menu-upload {
  display: none;
}

.menu-item.upload:hover > nav > .sub-menu-upload {
  display: inline-block;
}

.sub-menu-sort {
  display: none;
}

.menu-item.sort:hover > nav > .sub-menu-sort {
  display: inline-block;
}




.file-input {
  display: none;
}

.divider {
  outline: 1px solid lightgray;
  margin: 2px 10px;
  border: none;
}

/* icon CSS */

.menu-icon {
  margin: 0px 10px;
  color: gray;
}

.fa-ellipsis {
  float: right;
  padding: 3px 6px;
}

.fa-ellipsis:hover {
  outline: 1px solid #4285F4;
  color: black;
}

.menu-item:hover > .fa-trash {
  color: #DB4437;
}

.fa-check {
  color: #008000;
}

.menu-item:hover > .fa-sync {
  color: #4285F4;
}

.menu-item:hover > .fa-eye, .menu-item:hover > .fa-eye-slash {
  color: #F633FF;
}

.menu-item:hover > .fa-upload, .menu-item:hover > nav > div > span > .fa-plus {
  color: #0F9D58;
  cursor: pointer
}

 .menu-item:hover > nav > div > span > .fa-sort {
  color:  #ffa500 ;;
  cursor: pointer
}