.file-container, .folder-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: var(--text);
  border: 1px solid var(--sub-bg);
  border-radius: 5px;
  background-color: var(--sub-bg);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.2);
}

.file-container {
  height: 90px;
  width: 50px;
  padding: 10px 10px;
}

.folder-container {
  height: 20px;
  width: 132px;
  padding: 10px 10px;
}

.file-container:hover, .folder-container:hover {
  cursor: pointer;
  border: 1px solid var(--blue);
}

.file-img {
  position: absolute;
  top: 4px;
  height: 30px;
  width: 25px;
}

.file-image-container {
  height: 30px;
}

.file-name {
  height: 40px;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.folder-content-container {
  display: flex;
  align-items: center;
}

.folder-img {
  height: 25px;
  width: 25px;
}

.folder-name {
  width: 80%;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.context-menu {
  background-color: var(--main-bg);
  border-radius: .25rem;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .2);
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .2);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .2);
  color: var(--text);
  font-size: 16px;
  min-width: 160px;
  text-align: left;
  transition: opacity 250ms ease;
  z-index: 2;
}

.divider {
  outline: 1px solid var(--subtle1);
  margin: 2px 10px;
  border: none;
}

.menu-item {
  padding: 5px 5px;
  border: 1px solid var(--main-bg);
}

.menu-item:hover {
  background-color: var(--main-bg);
  cursor: pointer;
  border: 1px solid var(--text);
}

.menu-icon {
  margin: 0px 10px;
  color: var(--subtle2);
}

.menu-item:hover>.faShare {
  color: var(--red);
}

.sub-menu-move-to {
  display: none;
}

.menu-item.move-to:hover>nav>.sub-menu-move-to {
  display: inline-block;
}