.header-container {
  --header-padding: 4px;
  --full-header-height: calc(100% - var(--header-padding)*2);
  height: calc(var(--header-margin) - 8px);
  width: 100%;
  padding: var(--header-padding);
  background-color: var(--main-bg);
  position: fixed;
  top: 0;
  z-index: 3;
  -webkit-box-shadow: 0px 2px 5px 0px var(--shadow-color);
  -moz-box-shadow: 0px 2px 5px 0px var(--shadow-color);
  box-shadow: 0px 2px 5px 0px var(--shadow-color);
}

.logo {
  height: 100%;
  float: left;
}

.search-container, .header-button-container {
  display: flex;
  align-items: center;
}

.search-container {
  height: var(--full-header-height);
  position: absolute;
  left: 225px;
}

.sync-message {
  font-style: italic;
  border: none;
  background: none;
  color: var(--text);
  margin-right: 20px;
  font-size: 14px;
}

.header-button-container {
  height: 100%;
  float: right;
}

.header-button {
  border: none;
  border-radius: 5px;
  background: none;
  padding: 5px;
  margin-right: 5px;
}

.header-button:hover {
  color: var(--main-bg);
  cursor: pointer;
}

.refresh {
  color: var(--blue);
}

.refresh:hover {
  background-color: var(--blue);
}

.toggle-theme {
  color: var(--text);
}

.toggle-theme:hover { 
  background-color: var(--text);
}