.header-container {
  height: var(--header-margin);
  width: 100%;
  background-color: var(--main-bg);
  border-bottom: 2px solid var(--subtle2);
  position: fixed;
  z-index: 2;
}

.logo {
  height: 100%;
  left: 0;
  top: 0;
}