.open-folder {
  margin: 10px 20px;
}

.file-path-container {
  width: 100%;
}

.current-folder {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.close-folder-btn {
  background-color: var(--main-bg);
  border: 1px solid var(--text);
  padding: 2px 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: var(--text);
}

.close-folder-btn:hover {
  background-color: var(--text);
  color: var(--main-bg);
  cursor: pointer;
}