.search-form, .search-form>form {
  display: inline;
}

.form-control {
  border: 2px solid var(--subtle2);
  border-radius: 5px;
  padding: 6px 2px 2px 30px;
  width: 20vw;
  background-color: var(--main-bg);
}

.search-icon {
  position: relative;
  left: 25px;
  color: var(--subtle2);
}