.sidebar {
  margin: 0;
  width: var(--sidebar-width);
  color: var(--text);
  background-color: var(--main-bg);
  position: fixed;
  height: calc(100% - var(--header-margin));
  overflow: hidden;
  margin-top: var(--header-margin);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-icon {
  color: var(--subtle2);
}

.sidebar-picture {
  height: 20px;
  vertical-align: text-bottom;
  border-radius: 10px;
}

.sidebar-item {
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 8px 15px;
}

.sidebar-user {
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 4px 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar-item:hover, .sidebar-user:hover {
  cursor: pointer;
  font-weight: 600;
  background-color: var(--hover-color);
}

.selected {
  background-color: var(--subtle1);
  font-weight: 600;
}

.selected, .sidebar-item, .sidebar-user {
  border-radius: 0 20px 20px 0;
}

.selected.collapse, .sidebar-item.collapse, .sidebar-user.collapse {
  border-radius: 0;
}

.selected>svg>path, .sidebar-item:hover>svg>path, .collapse-button:hover>svg>path {
  color: var(--text);
}

.sidebar-icon {
  color: 'var(--subtle2)';
}

.sidebar-add-button {
  display: block;
  margin: 15px auto;
  width: 80%;
  height: 40px;
  border: 2px solid var(--green);
  border-radius: 5px;
  background-color: var(--main-bg);
  color: var(--green);
  font-weight: bold;
}

.sidebar-remove-button {
  display: block;
  margin: 15px auto;
  width: 80%;
  height: 40px;
  border: 2px solid var(--red);
  border-radius: 5px;
  background-color: var(--main-bg);
  color: var(--red);
  font-weight: bold;
}

.sidebar-add-button:hover {
  cursor: pointer;
  color: var(--main-bg);
  background-color: var(--green);
}

.sidebar-remove-button:hover {
  cursor: pointer;
  color: var(--main-bg);
  background-color: var(--red);
}

.sidebar-user-container {
  margin-top: 20px;
  overflow: hidden auto;
  max-height: 50vh;
  scrollbar-width: none;
}

.collapse-container {
  width: 100%;
  margin-bottom: 10px;
  text-align: right;
}

.collapse-container.collapse {
  text-align: center;
}

.collapse-button {
  background: none;
  border: none;
  color: var(--text);
}

.collapse-button:hover {
  cursor: pointer;
}