.user {
  width: 100%;
  margin: 15px 0px;
}

.user-banner {
  border-radius: 5px;
  border: none;
  position: sticky;
  top: calc(var(--header-margin) + 5px);
  height: 40px;
  width: 100%;
  margin: 5px 0px;
  color: var(--text);
  background-color: var(--sub-bg);
  text-align: left;
  z-index: 1;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.4);
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.4);
}

.user-banner:hover {
  cursor: pointer;
  outline: 1px solid var(--blue);
}

.profile-picture {
  height: 20px;
  vertical-align: text-bottom;
  border-radius: 10px;
}

.profile-name {
  font-weight: bold;
}

.profile-email {
  font-style: italic;
  color: var(--subtle2);
}

.react-contextmenu-wrapper {
  display: inline
}

.context-menu {
  float: right;
  margin: 0px 6px;
  background-color: var(--main-bg);
  border-radius: .25rem;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .2);
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .2);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .2);
  color: var(--text);
  font-size: 16px;
  min-width: 190px;
  text-align: left;
  transition: opacity 200ms ease;
  z-index: 2;
}

.menu-item {
  padding: 5px 5px;
  border: 1px solid var(--main-bg);
}

.menu-item:hover {
  background-color: var(--sub-bg);
  cursor: pointer;
  border: 1px solid var(--text);
}

.sub-menu-upload {
  display: none;
}

.menu-item.upload:hover>nav>.sub-menu-upload {
  display: inline-block;
}

.sub-menu-sort {
  display: none;
}

.menu-item.sort:hover>nav>.sub-menu-sort {
  display: inline-block;
}

.file-input {
  display: none;
}

.divider {
  outline: 1px solid var(--subtle1);
  margin: 2px 10px;
  border: none;
}

/* icon CSS */

.menu-icon {
  margin: 0px 10px;
  color: var(--subtle2);
}

.fa-ellipsis {
  float: right;
  padding: 3px 6px;
}

.fa-ellipsis:hover {
  outline: 1px solid var(--blue);
  color: var(--text);
}

.menu-item:hover>.fa-trash {
  color: var(--red);
}

.menu-item:hover>.fa-upload, .menu-item:hover>nav>div>span>.fa-sort {
  color: var(--blue);
}

.fa-check, .menu-item:hover>nav>div>span>.fa-plus, .menu-item:hover>.fa-eye, .menu-item:hover>.fa-eye-slash, .menu-item:hover>.fa-sync {
  color: var(--green);
}