.icon {
  vertical-align: text-bottom;
  height: 20px;
}

.main-container {
  width: calc(100% - var(--sidebar-width));
  float: right;
  margin-top: var(--header-margin);
}

.main-content {
  margin: 10px;
}
