body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --red: #DB4437;
  --blue: #4285F4;
  --green: #0F9D58;
  --main-bg: #fafafa;
  --sub-bg: white;
  --text: #303030;
  --subtle1: lightgray;
  --subtle2: gray;
  --header-margin: 45px;
  --bg-alpha: rgba(30, 30, 30, .8);
  --sidebar-width: 225px;
  --hover-color: rgba(66, 133, 244, .2);
  --shadow-color: rgba(50, 50, 50, 0.4);
  background-color: var(--main-bg);
  background-image: url('../src/components/images/bg-img.svg');
  background-size: 100%;
}

body.dark-theme {
  --main-bg:  #202020;
  --sub-bg: #353535;
  --text: #fafafa;
  --subtle1: #404040;
  --subtle2: #808080;
  --bg-alpha: rgba(250, 250, 250, .8);
  --shadow-color: rgba(0, 0, 0, .5);
  background-image: none;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}